@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Lusitana&family=Montserrat:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/* Cambia el color de fondo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 11px;
  background-color: #f0f0f0; /* Color de fondo */
}

/* Cambia el color de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #f97316;
}
.text-wrap {
  text-wrap: balance;
}
.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1.1em;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: #181717;
}

.button:hover svg path {
  fill: #181717;
}

/* loader */

.loader {
  display: block;
  --height-of-loader: 9px;
  --loader-color: #f97316;
  width: 100%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 2.5s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
/* When you change the amount of characters in the h1, you have to change 
the with: 14ch and  steps(14, end), if there is 14 characters, put 14, 
if there is 20 put 20 */
.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 18.8ch;
  animation: typing 4s steps(92), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
